.orderDetails{
    display: flex;
    align-items: center;
    flex-direction: column;
    
    position: relative;
}
.orderDetailsBox{
    background-color: #fff;
    width: 60%;
    height: fit-content;
    padding: 30px;
    margin-top: 30px;
}
.orderDetailsBox h2{
    text-align: center;
}

.orderDetailsBox p {
    /* opacity: .8; */
    font-size: 14px;
}
.orderDetailsBox p span{
    font-weight: 500;
    font-size: 14px;
    opacity: 1;
}